# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Logs / temp
*.log
*.tmp
.cache/

# Assembly temp files (deleted by assemble.mjs)
_col_part*.txt
